@{
    ViewBag.Title = "About Us";
}
<style>
    li.position-relative.wow.fadeIn {
        padding: 10px;
    }
</style>
<main aria-labelledby="title">
    <!-- Header -->
    <div class="container-fluid page-header mb-4 p-0" style="background-image: url(../../Content/Images/Glass_Repair1.jpg);">
        <div class="container-fluid page-header-inner py-5 AboutHeader">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
            </div>
        </div>
    </div>
    <!-- Header -->
    <!--Service-->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex bg-light py-5 px-4">
                        <img style="height: 60px;" src="~/Content/Images/quality.png" />
                        @*<i class="fa fa-certificate fa-3x text-lightblue flex-shrink-0"></i>*@
                        <div class="ps-4">
                            <h5 class="mb-3">Quality Servicing</h5>
                            <p>We use only premium quality glass and materials, meeting or exceeding industry standards for safety and durability.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex py-5 px-4">
                        <img style="height: 60px;" src="~/Content/Images/worker.png" />
                        @*<i class="fa fa-users-cog fa-3x text-lightblue flex-shrink-0"></i>*@
                        <div class="ps-4">
                            <h5 class="mb-3">Expert Workers</h5>
                            <p>Our team of expert technicians is dedicated to delivering top-notch services, ensuring your vehicle's glass is restored to its optimal condition.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex bg-light py-5 px-4">
                        <img style="height: 60px;" src="~/Content/Images/maintenance.png" />
                        @*<i class="fa fa-tools fa-3x text-lightblue flex-shrink-0"></i>*@
                        <div class="ps-4">
                            <h5 class="mb-3">Modern Equipment</h5>
                            <p>Our state-of-the-art equipment and cutting-edge repair techniques allow us to address a wide range of auto glass issues efficiently.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Service-->
    <!-- Why Choose -->
    <div class="container-xxl py-3">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-3">Why JFIPS Auto Glass Repair?</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-12 pt-4">
                    <ul>
                        <li class="position-relative wow fadeIn" data-wow-delay="0.1s"><b>Experienced Technicians:</b> Our certified technicians bring years of experience to every repair, ensuring the job is done right the first time.</li>
                        <li class="position-relative wow fadeIn" data-wow-delay="0.1s"><b>Quality Materials:</b> We use only premium quality glass and materials, meeting or exceeding industry standards for safety and durability.</li>
                        <li class="position-relative wow fadeIn" data-wow-delay="0.3s"><b>Advanced Technology:</b> Our state-of-the-art equipment and cutting-edge repair techniques allow us to address a wide range of auto glass issues efficiently.</li>
                        <li class="position-relative wow fadeIn" data-wow-delay="0.3s"><b>Timely Service:</b> We understand the importance of your time. Our team works efficiently to provide prompt service without compromising on quality.</li>
                        <li class="position-relative wow fadeIn" data-wow-delay="0.5s"><b>Customer Satisfaction:</b> Your satisfaction is our priority. We strive to exceed your expectations, offering transparent communication and reliable service.</li>
                        <li class="position-relative wow fadeIn" data-wow-delay="0.5s"><b>Competitive Pricing:</b> We believe in fair and transparent pricing. Our competitive rates ensure you receive value for your investment.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose -->
</main>