@{
    ViewBag.Title = "Contact";
}
<main>
    <!-- Header -->
    <div class="container-fluid page-header mb-4 p-0" style="background-image: url(../../Content/Images/Glass_Repair1.jpg);">
        <div class="container-fluid page-header-inner py-5 AboutHeader">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
            </div>
        </div>
    </div>
    <!-- Header -->
    <div class="container-xxl py-3">
        <!-- Repair -->
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Contact Us For Any Queries</h1>
            </div>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</main>